.buybook-section {
	margin: 30px 0 80px;
	height: 36px;
	width: 100%;
}
.buybook-container {
	/*Positioning*/
	display: block;
	float: left;
	margin: 0;
	margin-right: 28px;
	/*Dimensions*/
	width: 215px;
	height: 100%;
	/*Appearance*/
}

.buybook-container a {
	height: 100%;
}

.buybook-container img {
	width: 100%;
}

.publisher-container {
	display: block;
	float: left;
	width: 145px;
	height: 100%;
	border-radius: 3px;
}

.book-price {
	/*Positioning*/
	display: block;
	float: left;
	padding: 9px;
	/*Dimensions*/
	width: 70px;
	height: 100%;
	/*height: 100%;*/
	border-radius: 0 3px 3px 0;
	background: #ffffff;
	color: #9fc231;

}

.gumroad-button {
	position: relative;
	height: 100%;
	border-right: 1px solid #ededed;
	background: #ffffff;

}

.gumroad-button::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 145px;
	height: 4px;
	border-radius: 2px 2px 0 0;
	background: linear-gradient(to right, #e8a3bb, #e8a3bb 14%, #e16d5b 15%, #e16d5b 49%, #c34859 50%, #c34859 84%, #8c2827 85%);
}

.gumroad-button img,
.gumroad-button span {
	display: block;
	float: left;
}
.gumroad-button img {
	width: 28px;
	margin: 4px 8px 0 24px;
	padding: 0;
}

.gumroad-button span {
	margin-top: 10px;
	font-size: .9rem;
	color: #b6b6b6;
}

.amazon-button {
	position: relative;
	height: 100%;
	background: #272727;
	text-align: center;
}

.amazon-button img {
	width: 80%;
	padding-top: 6px;
}



.manning-button {
	background: #272727;
	text-align: center;
	padding-top: 6px;
}

.manning-button .first-word {
	color: #a0a0a0;
	font-size: .60rem;
}

.manning-button span {
	display: block;
	color: #a7c945;
	font-size: .75rem;
}





