@import url("normalize.css");
@import url("nav.css");

.clearfix:after {
	display: '';
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

.container {
	width: 100%;
	margin-top: 0;
}

main {
	width: 100%;
	margin: 0 auto;
	background: #F5F5F5;
}

h1 {
	font-family: 'Roboto Slab', serif;
}

h2, p, a {
	font-family: 'Roboto', sans-serif;
	
}