@import url("normalize.css");
@import url("nav.css");
@import url("book-component.css");
@import url("tab.css");

.clearfix:after {
	display: '';
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

.container {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
}

main {
	width: 100%;
	height: 100% ;
	margin: 0 auto;
	background: #F5F5F5;
}

h1, h4 {
	font-family: 'Roboto Slab', serif;
}

p, a {
	font-family: 'Roboto', sans-serif;
	
}

a {
	text-decoration: none;
}
footer {
	/*Positioning*/
	margin-top: 350px;
	/*Dimensions*/
	width: 100%;
	height: 160px;
	/*Appearance*/
	background: #3a3a3a;
}
.footer-left {
	display: block;
	float: left;
	margin-left: 180px;
	height: inherit;
}

.footer-left a {
	display: block;
	margin-top: 59px;
}

.footer-left img {
	float: left;
	margin-right: 8px;
	padding: 0;
	width: 36px;
}

.footer-left h4 {
	/*Positioning*/
	float: left;
	margin-top: 7px;
	/*Appearance*/
	color: #6c6c6c;
}

.footer-left .h4-first-word {
	color: #b1b1b1;
}

.footer-right {
	display: block;
	float: right;
	margin-top: 61px;
	margin-right: 182px;
	line-height: 1.15rem;
}

.footer-right span,
.footer-right a[href^="mailto:"] {
	display: block;
	font-size: .8rem;
	
}

.footer-right span {
	color: #6c6c6c;
}
.footer-right a[href^="mailto:"] {
	color: #b1b1b1;
}